<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "" %>
	</div>

	<div id="content">
		<h1>Hey, This is my profile page</h1>
		<p>This is the page where the owner of the blog to put his/her personal details</p>
		
	</div>
</div>